$lightBlackColor: #626262;
$darkWhiteColor: #b4ad9e;
$veryDarkWhiteColor: #7d7d7d;
$blueColor: #03a9f4;
$whiteColor: #ffffff;

$mainFontFamily: 'Playfair Display', serif;
$secondaryFontFamily: 'Ubuntu', sans-serif;

$mainFontSize: 16px;
